:root{
    --fundo: #abddec;	
    --cartao-frente:#b1b1df;
    --cartao-tras:#4a4a79;
    --destaque:#68265f;
    --preto:#000000;
    --branco:#ffffff;
}

body{
    background: var(--fundo);
}

header a{
    color: var(--branco)
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#conrainer{
    display: grid;
    padding: 20px;
    gap: 4rem;
}

.conteudo-cartao{
    padding: 40px;
    background-color: var(var(--cartao-frente));
    color: var(--branco)
}

.resposta-cartao{
    padding: 40px;
    background-color: var(--cartao-verso);
}

.conteudo-cartao :hover{
    transform: scale(1,04);
}

