:root{
    --fundo: #abddec;	
    --cartao-frente:#b1b1df;
    --cartao-verso:#4a4a79;
    --destaque:#68265f;
    --preto:#000000;
    --branco:#ffffff;
}

body{
    background: var(--fundo);
}

footer{
    position: fixed;
    bottom:0;
    background-color:#68265f;
    color: var(--branco);
    width: 100%;
    text-align: center;
}